*{
    margin: 0;
    padding: 0;
}

/* font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sheared style */
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

.btn-primary:hover{
    background-color: rgba(231, 170, 57, 0.686);
    font-size: 20px;
    font-weight: 700;
}

.title{
    color: #252432;
    font-size: 40px;
    font-weight: bold;
}



/* hero section */

.hero{
    height: 500px;
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
}

.navbar{
    height: 50px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

/* banner section */
.banner{
    height: 250px;
    width: 65%;
    text-align: center;
    margin:120px auto;
    color: #4E47FF;
}

.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
}


/* action section */
.actions{
    width: 85%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.action-1{
    height: 170px;
    width: 450px;
}

.action-2 img{
    width: 350px;
    height: 300px;
    border-radius: 40px;
}

.sub-title{
    color: rgba(37,36,50,0.5);
    font-size: 20px;
    margin: 12px 0;
}


/* Productive Users Section */
.users-section{
    width: 65%;
    margin: 100px auto;
    text-align: center;
    background-color: rgba(78,71,255,0.1);
    border-radius: 15px;
    
}

.users-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.users h1{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.users p{
    color: rgba(0,0,0,0.5);
    font-size: 18px;
}


/* Users Feedback Section */

.feedback-section{
    width: 85%;
    margin: auto;
    text-align: center;
}
.feedback-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.feedback{
    border-radius: 10px;
    background-color: #F2EDED;
    padding: 20px 20px;
    text-align: left;
}
.feedback h3{
    color: #252432;
    font-size: 20px;
}
.feedback p{
    font-size: 14px;
    padding: 10px 0 ;
    color: rgba(0,0,0,0.5);
}
.reviewer-nam{
    color:rgba(0,0,0,0.5) ;
}
.reviewer-nam p{
    padding: 0%;
}

.reviewer-container{
    display: flex;
    gap: 20px;
}


/* Ready section  */
.ready{
    width: 65%;
    margin: 100px auto;
    text-align: center;
}
.ready h2{
    margin-bottom: 15px;
}

.ready button{
    margin: 10px 0;
}
.ready img{
    margin: 30px 0;
    border-radius: 15px;
}


/* Let’s Get In Touch Section */

.get-in-touch{
    margin: 20px auto;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #FFFFFF 50%;
    
}
.get-title{
    width: 45%;
    font-size: 85px;
    font-weight: bold;
}
.set-form{
     width: 45%;
     background-color: #D6DDED;
}
label {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin:5px 0;
}
legend{
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin:5px 0;
}
input{
    height: 60px;
    width: 80%;
    display: block;
    padding: 0 30px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 30px;
    border: none;
}
textarea{
   padding: 20px 30px;
   color: rgba(0,0,0,0.5);
   border: none;
}
.btn-get{
    width: 90%;
     margin:10px 0;
     
}


/* footer style */
footer{
    width: 45%;
    margin: 100px auto 50px auto;
    text-align: center;
    color: #8987A1;
}
footer h1{
    font-size: 90px;
    font-weight: 900;
    color: #4E47FF;
}

footer li{
    list-style: none;
    display: inline;
    margin: 20px 30px;
   
}

footer li a{
    text-decoration: none;
    color: #8987A1;

}
.links{
    margin: 25px 0;
}